{% extends "base.html" %}

{% block title %}TODO APP{% endblock %}

{% block content %}
<div class="container">
    <section class="section-header">
        <h2>Task Manager</h2>
    </section>
    <section class="section-filter">
        <a href="?filter=all" class="btn btn-filter {%if filter_type == 'all' %}active{%endif%}">All Tasks</a>
        <a href="?filter=active" class="btn btn-filter {%if filter_type == 'active'%}active{%endif%}">Active</a>
        <a href="?filter=completed" class="btn btn-filter {%if filter_type == 'completed'%}active{%endif%}">Completed</a>
    </section>
    
    <section class="section-tasks">
        <a href="{% url 'create' %}" class="btn btn-add" >
             Add New Task
        </a>
        <div class="tasks">
            {% for task in tasks %}
            <div class="card">
                <div class="card-content">
                    <h3 class="card-content-title {% if task.is_complete %} checked {% endif %}  ">{{ task.title }}</h3>
                    <p class="card-content-description">{{task.description}}</p>
                    <p class="card-content-date">{{task.created_at}}</p>
                    <a href="{% url 'task' task.id %}" class="card-btn-details">More Details</a>
                </div>
                <div class="card-actions">
                    <div class="card-actions-edit-delete">

                        <a href="{% url 'update' task.id %}" class="btn btn-update">Update</a>
                        <a href="{% url 'delete' task.id %}" class="btn btn-delete">Delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="no-tasks">No tasks available</p>
            {% endfor %}
        </div>
    </section>

</div>
    
{% endblock %}
