{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
<div class="container">
  <section class="form-wrap">
    <h1>Register</h1>
    
    <form id="contactForm"  method="POST">
      {% csrf_token%}
      {{form.as_p}}
      <button class="btn" type="submit">Register</button>
      <p id="formStatus" class="status" role="status" aria-live="polite"></p>
      <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>
  </section>
</div>

{% endblock content %}

